.weather-app-header{
    background: rgba(19,35,42, 0.8); 
    text-align: left;
    display: flex;
    justify-content: space-between;

}
.weather-app-header h1{
    margin: 0;
    font-size: 2em;
    padding: .5em .5em;
    color: #f3f3f3;
    display: inline-block;
    cursor: pointer;
}
.home-icon{
    display: inline-block;
    margin: .2em 1em .2em 0em;
    font-size: 42px;
    color: #fff;
    cursor: pointer;
}