
<div class="row list-container">
  <div class="well col-md-8 col-md-offset-2 weather-list-container clearfix" *ngFor="let weatherCell of weatherData; let i = index; " (click)="getObj(weatherCell)">
      <span class="remove btn btn-danger" (click)="removeCity(this.weatherService.findIndexOfAttribute(weatherData, 'cityName', weatherCell.cityName))" >X</span>
      <div class="row">
        <div class="col-sm-6">
          <div class="weather-list-name">
            <!--<a class="btn btn-info" (click)="getObj(weatherCell)">Details</a>-->
            <h3 class="weather-cityname">{{weatherCell.cityName}}, {{weatherCell.country}}</h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="weather-temp-desc-container">
            <div class="weather-list-info ">
              <span class="weather-temp">{{weatherCell.weatherForecast[0].temp.day | number : '1.0-0'}} <span *ngIf="weatherData[i].measure === 'imperial'">&#8457;</span><span *ngIf="weatherData[i].measure === 'metric'">&#8451;</span></span>
              <span class="weather-icon"><img src="assets/img/{{weatherCell.weatherForecast[0].weather[0].icon}}.png" alt=""></span>
            </div>
          </div>
          <p class="weather-description">{{weatherCell.weatherForecast[0].weather[0].description}}</p>
        </div>
      </div>
  </div>
</div>
