@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}
body{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: rgb(136, 136, 136);
    background: url('/assets/img/bg3.jpeg');
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container-background{
    min-height: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width:95%;
}
@media screen and (max-width: 612px){
    .container{
        width:100%;
        padding: 0 2em;
    }
}



.input-error{
    outline: 1px solid #d85452;
}

.toast-message-custom{
    width:100%;
    display: inline-block;
    text-align: center;
    padding: .4em 0;
    font-size: 1.2em;
}
#toast-container > .toast, [class^="toast-"] {
    background-image: none !important;
}
#toast-container.toast-bottom-full-width > div{
    width:100%;
}
#toast-container > div{
    border-radius: initial;
}

.page-title{
    color:#fff;
    padding: 50px 0 5px;
    font-size: 4em;
}






/* ANIMATE CSS EFFECTS */

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  opacity:1 !important;
  visibility: initial !important;  
  animation: /*name*/bounceInRight /*duration*/1s /*easing*/linear /*delay*/0s /*count*/1 /*direction*/alternate;
  
}

.yes .weather-details{
    opacity: 0;
    visibility: none;
}

.weather-details-menu{
    text-align: center;
}
.weather-details-menu button{
    background-color: rgba(41, 43, 44, .90);
    border: 3px solid #fff;
    border-radius: 5px;
    color:#fff;
    outline: none;
    font-size: 2.5rem;
    font-weight: 500;
    padding:12px 20px;
    margin: 0 14px 0px 5px;
    transition: background 150ms ease-in-out;
}
.weather-details-menu button:hover{
    background-color:rgba(19,35,42, 0.8);
}
.wind-container{
    margin-top:3px;
    display: flex;
    justify-content: center;
}
.wind-speed{
    margin-right:10px;
}
.wind-direction{
    display: block;
}
